# Archivos que no quieres subir
nvim/
code/
dconf/
equibop/
gtk-3.0/
gtk-4.0/
mimeapps.list
mozilla/
nwg-look/
obsidian/
pavucontrol.ini/
pulse/
QtProject.conf
spicetify/
spotify/
systemd/
Thunar
user-dirs.dirs
user-dirs.locale
waypaper/
xfc4/
xsettingsd/
yay/
