* {
  font-family: "0xProto Nerd Font";
  font-size: 13px;
  color: #ffffff;
}

window#waybar {
  background: transparent;
  border-radius: 0px;
  box-shadow: none;
  border: none;
}

/* --- Workspaces --- */
#workspaces button {
  background: rgba(0, 0, 0, 0.75);
  padding: 0 6px;
  margin: 0 2px;
  border-radius: 0px;
  transition: 0.1s;
}

#workspaces button:hover {
  background: rgba(63, 63, 63, 0.686);
}

#workspaces button.active {
  background: rgba(42, 42, 42, 0.688);
  color: #ffffff;
}

/* --- Modules --- */
#clock,
#cpu,
#memory,
#battery,
#network,
#tray,
#pulseaudio,
#battery,
#temperature,
#custom-notifications,
#custom-media,
#mpd,
#cava {
  background: rgba(0, 0, 0, 0.75);
  padding: 0 8px;
  margin: 0 3px;
  border-radius: 0px;
  background-clip: padding-box;
  border: 0;
}

/* Estados */
#pulseaudio.muted {
  color: #aaaaaa;
}

#battery.critical {
  color: #ff6b6b;
}

/* Cava Module */
#cava {
  font-size: 11px;
  min-height: 11px;
  padding: 0 4px;
  margin: 0 4px;
  color: #ffffff;
}