* {
    font-family: "0xProto Nerd Font";
}


window {
    margin: 0px;
    color: #fff;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.5);
}


#input {
    padding: 5px 25px 5px 5px;
    margin: 10px 10px 0 10px;
    border: none;
    font-weight: bold;
    background: transparent;
    outline: none;
    border-radius: 15px;
}

#input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

#inner-box {
    margin: 4px;
    background: transparent;
    border-radius: 15px;
}

#outer-box {
    margin: 0px;
    border: none;
    border-radius: 15px;
    background: rgba(0, 0, 0, .2);
    padding: 5px;
    border: none;
}

#scroll {
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    margin-bottom: 5px;
}

#img {
    margin-right: 15px;
}

#img:selected {
    background: transparent;
    border-radius: 15px;
}

#text:selected {
    color: #fff;
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background: transparent;
}

#entry {
    margin: 2px 0px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    opacity: .8;
}

#entry:selected {
    outline: none;
    border: none;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
    font-weight: bold;
}